# Ignore Emacs auto-safe files
*~
# Ignore build-tree
build/

# Ignore generated javadoc
doc/

# Ignore document dir
documents/

# Vim backup files
.*.sw?

# ctags file
tags

# astyle backup files
*.orig
